# Add your preferred git settings here. This will overwrite anything in `core/configs/.gitconfig`.
[user]
  name = "Ben Lafferty"
  email = "ben.lafferty@shopify.com"

[alias]
  # View the current working tree status using the short format
	st = status

  # Switch to a new branch
  s = switch

  # Commit with message
  cm = commit -m

  # Add only tracked files (ignore new files)
  ad = add -u

  # ammend to latest branch and force push with lease
  good = "!git add . && git commit --amend --no-edit && git push origin $(git symbolic-ref --short HEAD) --force-with-lease"

  # pull latest from main and rebase
  fomo = "!git fetch origin main && git rebase origin/main"
